.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 300px;
    background-color: rgb(120, 196, 120);
}

.content {
    margin-left: 300px;
}

.modal {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgb(185, 179, 179);
    left: 0;
    top: 0;
    z-index: 10;
}

.modalBody {
    background-color: white;
    margin: auto;
    height: 30%;
    width: 30%;
}

.positioned {       /*using these two properties usually makes something called as stacking context.*/
    position: relative;
    z-index: 0;
}